.table-container {
	padding: 20px;
}

.table-header {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.search-box {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 8px;
	width: 300px;
	font-size: large;
	height: 25px;
}

.action-buttons {
	display: flex;
	gap: 10px;
}

.add-btn {
	background-color: rgb(211, 123, 8);
	border: none;
	color: white;
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	cursor: pointer;
}

.filter-btn {
	border: 1px solid rgb(211, 123, 8);
	color: rgb(211, 123, 8);
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
}

.export-btn {
	border: none;
	color: #333;
	padding: 10px;
	border-radius: 5px;
	font-size: large;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	cursor: pointer;
	background-color: #e3e3e3;
}
