label {
	display: block;
	margin-bottom: 15px;
}

label input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border-radius: 5px;
}

input:focus {
	outline: rgb(211, 123, 8);
	border: 1px solid rgb(211, 123, 8);
}
